<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtJQlvAmL3LQme0qhRVZoqAPvWTELIDVU</string>
	<key>GCM_SENDER_ID</key>
	<string>1008162616142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bee.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bees-8e71d</string>
	<key>STORAGE_BUCKET</key>
	<string>bees-8e71d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008162616142:ios:ca635b9ea2ea92f85a241f</string>
</dict>
</plist>